.footer {
  background-color: #0d1849;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 100%;
}

@media (max-width: 991px) {
  .footer {
    padding: 40px 20px;
  }
}

.footer_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1041px;
}

.footer_top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.footer_logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer_logo_text {
  font-family: ABeeZee, sans-serif;
  font-size: 36px;
}

.logo_img {
  width: 49px;
  height: 49px;
  object-fit: contain;
}

.footer_social_icons {
  width: 165px;
  object-fit: contain;
  margin-top: 15px;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 28px;
  color: #fff;
  margin-top: 20px;
}

.footer_link {
  color: inherit;
  text-decoration: none;
  font-family: Manrope, sans-serif;
  font-size: 18px;
}

.footer_link:hover {
  text-decoration: underline;
}

.footer_copyright {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .footer_logo_text {
    font-size: 24px;
  }

  .logo_img {
    width: 35px;
    height: 35px;
  }

  .footer_social_icons {
    width: 120px;
  }

  .footer_links {
    font-size: 24px;
  }

  .footer_link {
    font-size: 16px;
  }

  .footer_copyright {
    font-size: 16px;
  }
}
