.vertical-menu {
    width: 25%;
    background-color: #030E32;
    color: #fff;
  }
  
  .vertical-menu a {
    font-family: ABeeZee, sans-serif;
    font-size: 150%;
    display: flex;
    padding: 10% 15% 10% 15%;
    text-decoration: none;
    align-items: center;
    color: #fff;
  }
  
  .vertical-menu a img {
    width: 18%;
    margin-right: 10%;
  }
  
  .vertical-menu a:hover {
    background-color: #051139;
    text-decoration: underline;
  }
  
  
  
  main {
    font-family: ABeeZee, sans-serif;
    background-color: #051139;
    color: white;
  }
  
  .main-content {
    padding: 5% 5% 5% 5%;
    margin-left: 15%; 
    margin-bottom: 10%;
    background-color: #030E32;
    color: white;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 5%;
  }
  
  .info-section {
    background-color: #030E32;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5%;
  }
  
  .info-section h2 {
    font-family: ABeeZee, sans-serif;
    font-size: 150%;
    margin-bottom: 10px;
  }
  
  .info-section ul {
    list-style: none;
    padding: 0;
  }
  
  .info-section li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .info-section img {
    width: 8%;
    margin-right: 10px;
  }
  
  .container_r {
    display: flex;
  }
  
  .login-butn {
    margin-left: 65%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1.2% 4% 1.2% 4%;
    font-family: ABeeZee, sans-serif;
    font-size: 100%;
    border-radius: 10%;
    border-color: #6a65ff;
    background-color: #6a65ff;
    color: white;
  }

  .analyse-butn {
    margin-left: 33%;
    margin-top: 3%;
    padding: 3% 4% 3% 4%;
    font-family: ABeeZee, sans-serif;
    font-size: 100%;
    border-radius: 10%;
    border-color: #6a65ff;
    background-color: #6a65ff;
    color: white;
  }

  .choose {
    margin-top: 10%;
    margin-bottom: 5%;
  }

  button:hover {
    background-color: #a7a4f9;
  }
  